:root {
  --paddingSmall: 8px;
  --paddingMedium: 16px;
  --paddingLarge: 32px;
}

@media (max-width: 768px) {
  :root {
    --paddingSmall: 4px;
    --paddingMedium: 8px;
    --paddingLarge: 12px;
  }
}

body {
  --text: hsl(0, 0, 0);
  --surface: hsl(0, 0%, 80%);
  --bg: white;
}

body:has(button[data-visual-mode="dark"]) {
  --text: hsl(0deg 0% 100% / 0.8);
  --bg: hsl(100deg 100% 0% / 0.9);
  --surface: hsl(0, 0%, 20%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  color: var(--text);
}

pre {
  background-color: var(--bg) !important;
  padding: var(--paddingMedium) !important;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  color: rgb(var(--text));
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: var(--paddingLarge);
  background-color: var(--bg);
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin-bottom: var(--paddingLarge);
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

p,
h1,
h2,
h3 {
  margin-bottom: 1.5rem;
}

ol,
ul {
  margin-bottom: 32px;
  padding-left: var(--paddingLarge);
}

nav {
  display: flex;
  margin-bottom: 24px;
  align-items: flex-end;
}

.primary-btn {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  margin-left: auto;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/  */
/* TODO: make it a little more inline with overall design as it comes together */
blockquote {
  background: var(--surface);
  border-left: 10px solid;
  border-color: var(--text);
  margin: 1.5em 10px;
  margin-left: 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
